.task-item-wrapper {
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border: 1px solid #bbddd6;
  border-radius: 16px;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.TaskItem {
  display: flex;
  flex-direction: column;

  gap: 16px;

  font-family: "Inter";
}

.delete-button-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  pointer-events: auto;
}
.TaskSection-main-container.dragging {
  overflow-y: visible;
}
.TaskItem-header {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.TaskItem-header-info {
  display: flex;
  gap: 8px;
}

.TaskItem-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  align-items: center;
  display: flex;
  color: var(--text-primary, #212121);
}

.TaskItem-main {
  display: flex;
  gap: 8px;
}

.task-icon {
  align-items: center;
  display: flex;
}

.avatar-text {
  font-family: "Inter";
  font-weight: 510;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0%;
  color: #0a9e8e;
}

.avatar {
  width: 16px;
  height: 16px;
  gap: 10px;
  border-radius: 100%;
  border-width: 0.5px;
  padding: 3px;
  background: #e9fbf9;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0.5px solid #139d8e;
}
